.HomeContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HomeContainer img {
  height: 200px;
  animation: App-logo-spin infinite 20s linear;
  margin-top: 40px;
}
.HomeContainer h1 {
  font-size: 35px;
  margin-top: 30px;
  color: #61dafb;
}
.HomeContainer p {
  color: #fff;
  margin-top: 20px;
  font-size: 22px;
}
.HomeContainer a {
  text-decoration: underline;
  color: #61dafb;
  margin-top: 20px;
  font-size: 17px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.containerIntro {
  margin-top: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}
.containerIntro h1 {
  position: absolute;
  color: #61dafb;
  margin: 20px 0;
  margin-top: -60px;
}
.containerIntro > article {
  min-height: 300px;
  min-width: 350px;
  width: 40%;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}
.containerIntro h2 {
  color: #61dafb;
}
.containerIntro p {
  color: #fff;
  margin: 20px 0;
  text-align: justify;
}
.containerIntro .code {
  padding: 5px;
  color: #61dafb;
  border-radius: 5px;
}
.containerIntro .how li {
  margin: 10px 0;
}
.containerIntro .how li p {
  color: #fff;
  margin: 5px 0;
}
.containerIntro .how span > a {
  color: #61dafb;
  text-decoration: underline;
}
.containerIntro .components img {
  width: 500px;
}
.containerIntro .components span {
  color: #61dafb;
}
.containerIntro .extra a {
  color: #61dafb;
  text-decoration: underline;
}

.containerHooks {
  margin-top: 90px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
}
.containerHooks h1 {
  position: absolute;
  color: #61dafb;
  margin: 20px 0;
  margin-top: -60px;
}
.containerHooks > article {
  min-height: 300px;
  min-width: 350px;
  width: 40%;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 20px 0;
  padding: 20px;
}
.containerHooks h2 {
  color: #61dafb;
}
.containerHooks h4 {
  color: #61dafb;
  font-weight: lighter;
  margin-top: 10px;
  font-size: 18px;
}
.containerHooks p {
  color: #fff;
  margin: 20px 0;
  text-align: justify;
}
.containerHooks span {
  color: #61dafb;
  text-align: justify;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open sans", sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: #282c34;
}

input {
  outline: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  padding: 15px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header > a {
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header > a p {
  font-size: 30px;
  margin-left: 20px;
  font-weight: bold;
  color: #333;
}
.header > a img {
  width: 50px;
}
.header ul {
  display: flex;
  flex-direction: row;
}
.header ul li {
  padding: 10px;
  font-size: 19px;
}
.header ul li a {
  position: relative;
  color: #333 !important;
}
.header ul li a::after {
  width: 0%;
  height: 2px;
  content: " ";
  position: absolute;
  bottom: 0%;
  left: 50%;
  border-radius: 10px;
  transition: all 150ms ease;
  background-color: #61dafb;
}
.header ul li a:hover::after {
  left: 0%;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
